:root{
    --mainColor:#152e28;
    --secondaryColor:#192734;

    --borderColor:#164056;

    --mainTex:#fff;
    --secondaryText:#eee;

    --themeDotBorder:#fff;

    --previewBg:rgba(25, 39, 52, 0.8);
    --previewShadow:#111921;

    --buttonColor:#17a2b8;
}
